<div style='border: 5px solid red' >
  <% if @visitor %>
  What's up <%= @visitor %>?
  <% else %>
  <form action='/hello'>
  Hello, my name is <%= @names %>.
  What's your name?
  <input type='text' name='name'>
  <input type='submit'>
</form>
<% end %>
  <img src='/images/tupac.jpg'>
</div>
